.search__container{
    margin-top: 1%;
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__container{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}