* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  --primary-bg-color: #eee;
  --secondary-bg-color: #fff;
  --tertiary-bg-color: #0000007d;
  --primary-txt-color: #000000;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-bg-color);
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}